<div id="skatersContainer">
  <div class="col-sm-6 table-responsive">
    <h2 class="center">Skaters</h2>
    <table class="table-bordered">
      <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Position</th>
          <th>GP</th>
          <th>Goals</th>
          <th>Assists</th>
          <th>Points</th>
          <th>Pim</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'skaters/skater', collection: skaters.order(number: :asc) %>
      </tbody>
    </table>
  </div>
</div>
