<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="winterSeasonContainer">
      <div class="col-sm-4 center">
        <h1>Winter Seasons</h1>
        <h2>2016-2017</h2>
        <%= image_tag('winter2016-2017.PNG', :class => "winter2016_2017") %>
      </div>
    </div>

    <div id="springSeasonContainer">
      <div class="col-sm-4 center">
        <h1>Spring Seasons</h1>
        <h2>2017</h2>
      </div>
    </div>
    <div id="summerSeasonContainer">
      <div class="col-sm-4 center">
        <h1>Summer Seasons</h1>
        <h2>2017</h2>
      </div>
    </div>
  </body>
</html>
