<p id="notice"><%= notice %></p>

<h2>Alumni Goalies</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Gp</th>
      <th>Wins</th>
      <th>Loses</th>
      <th>Otl</th>
      <th>Winpercent</th>
      <th>Ga</th>
      <th>Gaa</th>
      <th>Shutouts</th>
      <th>Season</th>
    </tr>
  </thead>
