.center
{
  text-align: center;
}
table
{
  color: #000;
}
thead th
{
  color: #fff;
  background-color: #1D6718;
}
nav
{
  background-color: #1D6718;
  display: inline-block;
  float: none;
  vertical-align: top;
}
ul
{
  text-align: center;
}
#nav ul li{
  display: inline;

}
img
{
  width: 100px;
}
a{
  color: #fff !important;
  text-decoration: none !important;
}
