table
{
  color: #000;
}

thead th
{
  color: #fff;
  background-color: #000;
}
nav
{
  background-color: #1D6718;
  display: inline-block;
  float: none;
  vertical-align: top;
}
li
{
  color: #fff;
  display: inline;
}
ul
{
  text-align: center;
}
img
{
  width: 100px;
}
a
{
  text-decoration: none !important;
}
