<div class="center">
  <h1>Bush Pilots Winter 2016-2017 Record: 9-14-0</h1>
</div>
<%= render 'upcoming_games/upcoming_games', upcoming_games: @upcoming_games %>

<%= render 'shared/skater', skaters: @skaters, goaltenders: @goalies%>
<%#= render 'schedules', schedules: @schedules %>
