<div class="center">
  <%= render 'team_records/team_records', team_records: @team_records = TeamRecord.where("active_season = true")%> 
</div>
<%= render 'upcoming_games/upcoming_games', upcoming_games: @upcoming_games %>

<%= render 'shared/skater', skaters: @skaters, goaltenders: @goalies%>
<%#= render 'schedules', schedules: @schedules %>
