<%= render 'shared/header' %>
<div class="center">
  <h1>Bush Pilots Winter 2016-2017 Record: 3-5-0</h1>
</div>
<%= render 'upcoming_games/upcoming_games', upcoming_games: @upcoming_games %>
<%= render 'skaters/skaters', skaters: @skaters %>
<%= render 'schedules', schedules: @schedules %>
