  <head>
    <%= stylesheet_link_tag 'backgroundColor.css' %>
    <nav>
      <ul>
        <li><%= link_to image_tag('pilotsLogo.jpeg'), '/' %></li>
        <li><%= link_to 'Roster', '/static_pages/roster.html.erb' %></li>
        <li><%= link_to 'Schedule', '/static_pages/schedule.html.erb' %></li>
      </ul>
    </nav>
  </head>
