<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div id="team_recordsContainer">
    <h1 class="center">Bush Pilots Winter 2016-2017 Record:
      <!--<%= render partial: 'team_records/team_record', collection: team_records%>--></h1>
</div>
