<div id="team_recordsContainer">
    <h2 class="center">Bush Pilots <%= render partial: 'team_records/team_record_season', collection: team_records%> Record: <%= render partial: 'team_records/team_record', collection: team_records%></h2>
</div>
