
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div id="upcomingGamesContainer">
  <div class="col-sm-6 table-responsive">
    <h2 class="center">Upcoming Games</h2>
    <table class="table-bordered">
      <thead>
        <tr>
          <th>Team1</th>
          <th>Team2</th>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'upcoming_games/upcoming_game', collection: upcoming_games.order(id: :asc) %>
      <tbody>
    </table>

  </div>
</div>
